body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #393d41;
  line-height: 1.65rem;
}
.black {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: black;
  text-align: center;
}
.black img {
  width: 35%;
}

.background {
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  width: 35%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #f04c2f;
  border: 0rem;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-block: 2rem;
}

#orange-highlight {
  display: block;
  background-color: #e22d0e;
  color: white;
}

#orange-highlight h2 {
  color: white;
}
#orange-highlight h3 {
  color: white;
}

h1,
h2,
h3,
h4 {
  color: #25a2c3;
  font-family: "Montserrat", bold, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  margin-block: 0.2rem;
  padding: 2rem;
}

p {
  font-size: 1.4rem;
  font-style: ;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}
.steps img {
  display: block;
  padding-block: 2rem;
  width: 100%;
}
footer h2 {
  font-size: 2.5rem;
  color: white;
}
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  padding: 2rem;
}
