body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #393d41;
  line-height: 1.65rem;
}
.black {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: black;
  text-align: left;
}
.black img {
  width: 20%;

  padding: 2rem;
}

.background {
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5;
}

.background {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

button {
  width: 35%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #f04c2f;
  border: 0rem;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-block: 2rem;
}
article {
  display: inline-block;
  text-align: left;
  width: 50%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

#orange-highlight {
  padding-block: 2rem;
  display: block;
  background-color: #e22d0e;
  color: white;
}

#orange-highlight h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
}
#orange-highlight h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.oblique {
  padding-block: 2rem;
  font-style: oblique;
  font-size: 1.3rem;
  font-weight: 100;
}

#orange-highlight p {
  padding-block: 2rem;
  font-size: 1.3rem;
  font-weight: 100;
}

#CEO {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 100;
}

.perks h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.circle {
  vertical-align: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 4rem;
  margin-right: 2rem;
}

h1 {
  color: #25a2c3;
  font-family: "Montserrat", bold, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-block: 2rem;
}

h2,
h3,
h4 {
  color: #25a2c3;
  font-family: "Montserrat", bold, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  font-size: 1.4rem;
  font-style: ;
}
h1 {
  font-size: 2;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}
section {
  display: inline-block;
  margin: 2rem;
}
.steps {
  display: inline-block;
  width: 30%;

  border: 1px solid #dbdbdb;
  border-radius: 0.3rem;
}

.steps img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
}

.steps p {
  margin-bottom: 2rem;
}

footer p {
  margin: 0.5rem;
}
footer h2 {
  font-size: 2.5rem;

  color: white;
}
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  padding: 2rem;
}
a {
  color: #c8e7f0;
}
.line {
  margin-block: 2rem;
}

.copyright {
  font-size: small;
  padding-bottom: 2rem;
}

i {
  color: white;
}
